.todo-app {
  position: absolute;
  top: 25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  font-size: 1.8rem;

  &__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-very-light-gray;
    margin-bottom: 3rem;

    .heading {
      text-transform: uppercase;
      letter-spacing: 1rem;
    }
  }

  &__input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  &__tasks {
    background-color: $color-very-dark-desaturated-blue;

    .tasks {
      color: $color-light-grayish-blue;

      &__item {
        padding: 1rem;
        border-bottom: 1px solid $color-very-dark-grayish-blue;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.4rem;
    color: $color-dark-grayish-blue;
  }
}
