.header {
  position: relative;
  height: 40vh;
  background-size: cover;
  background-position: top;

  &__box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 14rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: $color-very-light-gray;

    .heading-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .heading {
        text-transform: uppercase;
        font-size: 5rem;
        letter-spacing: 1rem;
      }

      .theme-icon {
        width: 3.5rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .input {
      padding: 2.5rem 2rem;
      margin-bottom: 2rem;
      font-size: 2rem;
      font-family: inherit;
      border: none;
      outline: none;

      &::placeholder {
        color: $color-dark-grayish-blue;
      }
    }
  }
}
