.section-tasks {
  position: relative;
  height: 60vh;
  font-size: 1.8rem;
  background-color: $color-very-dark-blue;

  &__tasks-box {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-very-dark-desaturated-blue;

    .tasks {
      color: $color-light-grayish-blue;

      &__item {
        cursor: pointer;
        display: flex;
        gap: 2rem;
        padding: 2rem;
        border-bottom: 1px solid $color-very-dark-grayish-blue;

        &-checkbox {
          background: $color-check-background;
          height: 20px;
          width: 20px;
          border-radius: 50%;
        }

        &-icon--cross {
          margin-left: auto;

          &:hover {
            filter: invert(95%) sepia(7%) saturate(712%) hue-rotate(195deg)
              brightness(100%) contrast(90%);
          }
        }
      }
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.4rem;
    color: $color-dark-grayish-blue;

    &__task-filter {
      display: flex;
      gap: 1rem;

      .filter:hover {
        color: $color-light-grayish-blue-hover;
      }
    }

    &__clear {
      text-transform: capitalize;

      &:hover {
        color: $color-light-grayish-blue-hover;
      }
    }
  }
}
