.section-tasks {
  position: relative;
  height: 60vh;
  font-size: 1.8rem;

  &__tasks-box {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);

    .tasks {
      &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem;

        &-checkbox {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          height: 24px;
          width: 24px;
          border-radius: 50%;

          &:hover::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -2px;
            border-radius: inherit;
            background: $color-check-background;
          }

          &-done {
            @extend .tasks__item-checkbox;
            border: none;
            background: $color-check-background;

            &:hover::after {
              margin: 2px;
            }
          }
        }

        &-icon--cross {
          margin-left: auto;

          &:hover {
            filter: invert(95%) sepia(7%) saturate(712%) hue-rotate(195deg)
              brightness(100%) contrast(90%);
          }
        }
      }
      .task-text--done {
        text-decoration: line-through;
        color: $color-dark-grayish-blue;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.4rem;
    color: $color-dark-grayish-blue;

    &__task-filter {
      display: flex;
      gap: 1rem;

      .filter {
        &--active {
          color: $color-bright-blue;
        }
      }
    }

    &__clear {
      text-transform: capitalize;
    }
  }
}
